/* Import local fonts */
@import url(../fonts.css);

/* User Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

main {
    background: url('../img/bg_header.jpg') center center/ cover no-repeat;
    height: 566px;
    padding: 0 0 71px;
}

.first-line {
    display: flex;
    justify-content: space-between;
}

main nav {
    width: 453px;
    height: 41px;
    background-color: #f5c506;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    margin-top: 71px;
    position: relative;
    z-index: 1;
}

main nav::before,
main nav::after {
    content: ' ';
    position: absolute;
    width: 453px;
    height: 41px;
    background-color: #f5c506;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.27;
    z-index: -1;
}

main nav::before {
    top: -8px;
    left: -8px;
}

main nav::after {
    top: -5px;
    left: -4px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    display: block;
    text-decoration: none;
    line-height: 41px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    color: #9b7d08;
    font-family: "Segoe WP";
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.17px;
    transition: 0.5s;
}

nav ul li a:hover {
    color: #f5c506;
    background-color: #9b7d08;
}

nav ul li:first-child a {
    width: 173px;
    background-image: url('../img/about_us.png');
    background-position: 40px center;
    background-repeat: no-repeat;
    padding-left: 68px;
}

nav ul li:nth-child(2) a {
    width: 133px;
    background-image: url('../img/services.png');
    background-position: 14px center;
    background-repeat: no-repeat;
    padding-left: 42px;
}

nav ul li:last-child a {
    width: 147px;
    border: none;
    background-image: url('../img/contact.png');
    background-position: 17px center;
    background-repeat: no-repeat;
    padding-left: 49px;
}

.logo {
    display: flex;
    margin-top: 28px;
    align-items: center;
}

.logo-text a {
    display: block;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
    text-decoration: none;
    color: #fff;
    font-family: "Lucida Sans";
    font-size: 41px;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.41px;
    margin-left: 4px;
    margin-top: 6px;
    font-weight: 400;
}

.second-line {
    height: 327px;
    margin-top: 53px;
    display: flex;
}

.second-line video {
    margin-left: 10px;
}

.second-line h2 span {
    color: #f5c506;
}

.second-line h2 {
    text-indent: -16px;
    margin-left: 50px;
    margin-top: 69px;
    text-align: center;
    font-weight: 400;
    font-family: "Asap";
    font-size: 63px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.63px;
}

.left-btn,
.right-btn {
    position: absolute;
    border: none;
    top: 300px;
    width: 32px;
    height: 57px;
    background-color: #f5c506;
    opacity: 0.71;
    transition: 0.5s;
    cursor: pointer;
}

.left-btn:hover,
.right-btn:hover {
    opacity: 1;
}

.left-btn {
    left: 0;
    background-image: url('../img/arrow-left.png');
    background-repeat: no-repeat;
    background-position: 8px center;
}

.right-btn {
    right: 0;
    background-image: url('../img/arrow-right.png');
    background-repeat: no-repeat;
    background-position: 11px center;
}

section.advantages {
    background: url('../img/bg_section2.jpg') center center/ cover no-repeat;
}

.advantages .container {
    display: flex;
}

.column {
    width: 340px;
    border-right: 1px solid rgba(0, 0, 0, 0.14);
    text-align: center;
}

.column p {
    padding-left: 24px;
    padding-top: 5px;
    color: #000;
    font-family: "Segoe UI";
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.27px;
}

.column:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.14);
    padding: 61px 6px 32px 0;
}

.column:nth-child(2) {
    padding: 37px 0 0 20px;
}

.column:nth-child(2) p {
    padding: 9px 0 1px 0;
}

.column:last-child {
    padding: 54px 18px 0 0;
}

.column:last-child p {
    padding: 4px 0 0 2px;
}

section.news {
    background: url('../img/bg_section3.jpg') center center/ cover no-repeat;
    height: 509px;
    padding: 31px 0 21px;
}

.news h3 {
    color: #fff;
    font-family: "PT Sans";
    font-size: 37px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.37px;
}

.news-wrapper {
    display: flex;
    margin-top: 31px;
}

.news .news-item {
    width: 341px;
    height: 233px;
    padding: 15px 0 0 30px;
    background: #ec9e03;
    position: relative;
}

.news .news-item p {
    color: #fff;
    font-family: "Segoe WP";
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 0.29px;
}

.news .news-item2 {
    width: 315px;
    height: 233px;
    background: url('../img/poster2.png') center center/ cover no-repeat;
    position: relative;
}

.news .news-item3 {
    width: 329px;
    height: 233px;
    background: #ec9e03 url('../img/twitter.png') 83px 59px no-repeat;
    margin-left: 34px;
    position: relative;
}

.news-item3 .message-wrapper {
    display: none;
}

.news .news-item2 button {
    border: none;
    width: 61px;
    height: 61px;
    background: url('../img/play.png') no-repeat;
    outline: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    left: 130px;
    top: 93px;
}

.news .news-item3 .number {
    position: absolute;
    right: 19px;
    top: 10px;
    color: #fff;
    font-family: "Segoe WP";
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 0.25px;
}

.news .news-item img,
.news .news-item3 img {
    display: block;
    position: absolute;
    bottom: 13px;
}

.news .news-item img {
    right: 14px;
}

.news .news-item3 img {
    right: 9px;
}

.news .time {
    text-align: center;
    width: 113px;
    height: 86px;
    background: #ddb101;
    color: #b26529;
    font-family: "Segoe UI";
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 0.21px;
    padding: 13px 0 0 3px;
}

.news .time span {
    line-height: 38px;
    color: #fff;
    font-size: 51px;
    font-weight: 700;
    letter-spacing: 0.51px;
}

input[type=range] {
    display: block;
    width: 896px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 15px;
    margin-left: 74px;
    margin-top: 43px;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 12.8px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    border-radius: 7px;
    background: #65001c;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1px;
    width: 197px;
    height: 15px;
    background-color: #ec9e03;
}


section.adaptive {
    height: 498px;
    background: url('../img/bg_section4.jpg') center center/ cover no-repeat;
    padding-top: 35px;
}

.adaptive .container {
    position: relative;
}

.adaptive h3 {
    color: #f5c506;
    font-family: "PT Sans";
    font-size: 43px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.43px;
    text-align: center;
}

.adapt-wrapper {
    display: flex;
}

.adaptive img {
    width: 540px;
    height: 255px;
    display: block;
    margin: 45px 0 0 20px;
}

.adaptive ul {
    list-style: none;
    margin: 89px 0 0 78px;
    color: #a9a9a7;
    font-family: "Open Sans";
    font-size: 23px;
    font-family: "Open Sans";
    letter-spacing: 0.6px;
    font-family: "PT Sans";
    width: 379px;
    line-height: 26px;
    height: 213px;
}

.adaptive ul li {
    padding-left: 34px;
    background: url('../img/circle.png') left 8px no-repeat;
}

.adaptive ul li:nth-child(2) {
    margin-top: 24px;
}

.adaptive ul li:nth-child(3) {
    margin-top: 16px;
}

.adaptive ul li:last-child {
    margin-top: 22px;
}

.adaptive .free {
    position: absolute;
    top: 57px;
    left: -1px;
    text-align: center;
    line-height: 120px;
    width: 116px;
    height: 116px;
    background-color: #f5c506;
    border-radius: 50%;
    color: #fff;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

footer {
    height: 66px;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.75);
    background: url('../img/bg_footer.jpg') center center/ cover no-repeat;
}

.logo-small {
    display: flex;
}

.logo-small a {
    text-decoration: none;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
    color: #fff;
    font-family: "Lucida Sans";
    font-size: 28px;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.63px;
    font-weight: 400;
    margin-top: 5px;
}

.logo-small a.descr {
    margin: 16px 0 0 7px;
}